<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/loginLayout}"
      layout:fragment="content"
>

    <th:block th:fragment="scripts">
        <link rel="stylesheet" href="/css/signIn.css"/>
        <script type="text/javascript" src="/js/common/signUp.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                window.signUp.init();
            });

        </script>
    </th:block>


<body>
<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal">회원가입</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="signUp_name" name="name" required placeholder="이름">
            <label for="signUp_name">이름</label>
        </div>
        <div class="form-floating">
            <input type="tel" id="signUp_phoneNumber" class="form-control" name="phone" required placeholder="휴대폰 번호">
            <label for="signUp_phoneNumber">휴대폰 번호</label>
        </div>
        <div class="form-floating">
            <input type="text" id="signUp_userId" class="form-control" name="id" required placeholder="아이디">
            <label for="signUp_userId">아이디</label>
            <div id="signUp_validIdMsg" class="valid-feedback" style="display:none">
               사용가능한 아이디입니다
            </div>
        </div>
        <div class="form-floating">
            <input type="password" id="signUp_passWord" class="form-control" name="password" required placeholder="비밀번호">
            <label for="signUp_passWord">비밀번호</label>
        </div>
        <div class="button-group">
            <button id="signUp_confirm" class="w-40 btn btn-md btn-primary">확인</button>
            <button id="signUp_cancel" class="w-40 btn btn-md btn-secondary">취소</button>
        </div>
</main>
</body>
</html>