<head th:fragment="config">
    <meta charset="UTF-8">
    <title>모두공방</title>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.js"></script>
<!--    <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>-->
<!--    <script type="text/javascript" src="/js/bootstrap/bootstrap.esm.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/common-custom.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
<!--    fontAwesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
<!--    mustache.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.3/mustache.js" integrity="sha512-A97rn6Pguhaw5YmpsTysbAel2wDz5PH76++FiLnA5TBl+bjIiMRyNfl4pzRDuL9EjumB4zgAZ7tvFFNfSmiSsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/js/common/common-custom.js"></script>
    <!-- 페이지별로 스크립트를 넣기 위한 자리 -->
    <th:block th:insert="~{::scripts}"></th:block>
</head>
