<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/commonLayout}">

<th:block th:fragment="scripts">
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <!--mustache-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.1/mustache.js" integrity="sha512-IDcWx4i9cyu+HgDbPzY7fKV9aOh0Skt1iFFTZype6N1c/Slqwum0UaGX/Ek2ZSS+RNoaGvtGsTPiSVNfMKaffg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/js/post/postView.js"></script>
  <script>
    $(document).ready(function() {window.postView.init();})
  </script>
</th:block>


<body layout:fragment="content">
  <div class="container mt-5">
    <h1 class="mb-4" th:text="${post.subject}">게시물 제목</h1>
      <button id="postView_recommend"><i class="fas fa-regular fa-thumbs-up"></i></button>
    <div class="card" id="postView_info" th:data-id="${post.id}">
      <div class="card-body">
<!--        <h5 class="card-title">작성자: <span th:text="${post.member.username}">작성자 이름</span></h5>-->
        <h6 class="card-subtitle mb-2 text-muted">작성날짜: <span th:text="${post.regDt}">2023-01-01</span></h6>
        <div>
          <p class="card-text" th:text="${post.content}">게시물 내용</p>
        </div>
        <div>
          <span>추천수: <span th:text="${post.recommend}">0</span></span>
<!--          <span>조회수: <span th:text="${post.recommend}">0</span></span>-->
        </div>
      </div>
    </div>
      <div class="form-group">
          <label for="postView_comment">댓글</label>
          <textarea class="form-control" id="postView_comment" rows="3" placeholder="댓글을 입력하세요" required style="resize: none"></textarea>
      </div>
      <ul class="list-group" id="postView_commentList">
          <li th:each="comment,rowStat : ${post.comments}" class="list-group-item d-flex justify-content-between align-items-center">
              <div><span th:text="${comment.content}"></span> <button>수정</button><button>삭제</button></i></div>
                  <span th:text="${comment.regDt}"></span>
          </li>
      </ul>
      <div class="text-md-end">
        <button id="postView_commentRegBtn" class="btn btn-primary">댓글 작성</button>
      </div>
      <i class="fa-solid fa-left-long"></i>
    <a href="/post/postList" class="btn btn-primary mt-3 float-right"><i class="fas fa-sharp-duotone fa-solid fa-arrow-left"></i></a>
    <a th:href="@{/post/updatePost/{id}(id=${post.id})}" class="btn btn-primary mt-3 float-right">수정</a>
    <a th:href="@{/post/deletePost/{id}(id=${post.id})}" class="btn btn-primary mt-3 float-right">삭제</a>
  </div>

<script type="text/html" id="postView_cmtTemplate">
    {{#comments}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div><span>{{content}} <button>수정</button><button>삭제</button></span></div>
            <span>{{regDt}}</span>
        </li>
    {{/comments}}
</script>
</body>
</html>