<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/commonLayout}">
  <th:block th:fragment="scripts">
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <!--mustache-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.3/mustache.js" integrity="sha512-A97rn6Pguhaw5YmpsTysbAel2wDz5PH76++FiLnA5TBl+bjIiMRyNfl4pzRDuL9EjumB4zgAZ7tvFFNfSmiSsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="/js/post/postList.js"></script>
  <script>
    $(document).ready(function() {window.postList.init();})
  </script>

    <style>
      #postList_page a{
        text-decoration: none;color: black;cursor: pointer;
      }
      #postList_list ._subject:hover {
        color: cornflowerblue;
      }
      #postList_list ._subject {
        text-decoration: none;color: black;cursor: pointer;
      }

    </style>
  </th:block>


<body  layout:fragment="content">
<table class="table table-hover table-striped text-center" >
  <thead class="table-light">
  <tr>
    <th th:scope="row" class="col-md-1 text-center">번호</th>
    <th th:scope="row" class="col-md-2 text-center">등록일</th>
    <th th:scope="row" class="col-md-2 text-center">작성자</th>
    <th th:scope="row" class="text-center">제목</th>
    <th th:scope="row" class="col-md-2 text-center">조회수</th>
    <th th:scope="row" class="col-md-1 text-center">추천수</th>
  </tr>
  </thead>
  <tbody id="postList_list">
  </tbody>
</table>
<div id="postList_page" class="w-75 d-grid gap-2 d-md-flex justify-content-md-center" style="margin-left: auto; margin-right:auto;">
  <div>1 2 3 4 5 6 7 8</div>
</div>
<div class="button-box">
  <button id="postList_write"class="w-40 btn btn-md btn-primary __align-end" onclick="location.href='/post/postReg'">작성</button>
</div>

<script id="postList_listTemplate" type="text/html">
  {{#postList}}
    <tr>
      <td class="text-center">{{id}}</td>
      <td class="text-center">{{regDt}}</td>
      <td class="text-center">{{member.username}}</td>
      <td class="text-start"><a href="/post/postView/{{id}}" class="_subject">{{subject}}</a></td>
      <td class="col-md-1 text-center">조회수</td>
      <td class="col-md-1 text-center">{{recommend}}</td>
    </tr>
  {{/postList}}
</script>
<script id="postList_pageTemplate" type="text/html">
  {{#pageList]}}
    <a href="javascript:void(0)">{{page}} </a>
  {{/pageList}}
</script>
</body>
</html>