<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/commonLayout}">

<th:block th:fragment="scripts">
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/post/postView.js"></script>
  <script>
    $(document).ready(function() {window.postView.init();})
  </script>
</th:block>


<body layout:fragment="content">
  <div class="container mt-5">
      <div class="justify-content-between flex">
          <div>
          <div><strong th:text="${post.member.username}"></strong></div>
          <span>등록일</span><span th:text="${post.regDt}"></span>
          <span>조회수</span><span th:text="${post.viewCnt}" id="postView_viewCnt"></span>
          <span>추천수</span><span th:text="${post.likeCnt}" id="postView_recommend"></span>
          </div>
          <div th:if="${session.loginMember != null and session.loginMember.userId == post.member.userId}" class="">
              <a th:href="@{/post/updatePost/{id}(id=${post.postId})}" class="btn btn-primary btn-sm mt-3 float-right">수정</a>
              <a th:href="@{/post/deletePost/{id}(id=${post.postId})}" class="btn btn-primary btn-sm mt-3 float-right">삭제</a>
          </div>
      </div>
      <h1 class="mb-4" th:text="${post.subject}">게시물 제목</h1>

      <div id="postView_info" th:data-id="${post.postId}">
        <div class="content-body">
            <p class="card-text" th:utext="${post.content}">게시물 내용</p>
        </div>
      </div>
      <div class="button-box-end mt-xl-3" th:if="${session.loginMember != null}">
          <button id="postView_recommend_btn" class="border-0 fs-5 bg-white btn-color">
              <i class="fas fa-regular fa-thumbs-up"></i>
          </button>
      </div>
          <div class="my-5 border-gray-500/30 border-t"></div>
      <div class="cmnt-form-group">
          <textarea class="form-control" id="postView_comment" rows="3" th:attr="placeholder=${session.loginMember != null ? '댓글을 입력하세요' : ''},
          disabled=${session.loginMember == null ? 'disabled' : null}"required style="resize: none"></textarea>
          <th:block th:if="${session.loginMember == null}">
              <p class="relative left-1 bottom-3.5"><span class="text-sm text-gray-500">댓글을 쓰려면 <a th:href="@{/login/signIn(redirectURL=${'/post/postView/' + post.postId})}">로그인</a>이 필요합니다.</span></p>
          </th:block>
          <div class="text-md-end margin-updn10">
              <button id="postView_commentRegBtn" class="btn btn-primary"
                      th:if="${session.loginMember != null}">댓글 작성</button>
          </div>
      </div>

      <ul class="list-group" id="postView_commentList"></ul>
      <div>
        <a href="/post/postList" class="btn btn-primary mt-3 float-right"><i class="fas fa-sharp-duotone fa-solid fa-arrow-left"></i></a>

      </div>
  </div>
<script type="text/html" id="postView_cmntTemplate">
    {{#comments}}
        <li class="list-group-item align-items-center comment_item" data-cmnt-id="{{id}}">
            <div>
                <div class="flex justify-content-between w-100">
                    <div><strong>{{memberDto.username}}</strong> <span class="small">{{regDt}}</span></div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item _modifyCmntBtn" href="javascript:void(0);">수정</a></li>
                            <li><a class="dropdown-item _delCmntBtn" href="javascript:void(0);">삭제</a></li>
                        </ul>
                    </div>
                </div>
                <pre class="content-pad margin-updn10">{{content}}</pre>
            </div>
        </li>
    {{/comments}}
</script>

<script type="text/html" id="postView_cmntUpdateTemplate">
    <textarea class="form-control _updateCmntForm" rows="3" required style="resize: none"></textarea>
</script>
</body>
</html>