html,
body {
    width: 100%;
    height: 100%;
}
#wrapper {
    margin: 0 auto;
    width: 70%;
    min-height: calc(100vh - 10rem); /* footer 높이만큼 빼서 wrap의 최소 높이 설정 */
    /*display: flex;*/
    /*flex-direction: column;*/
}

#wrapper table{
    width: 100%
}

footer {
    height: 10rem; /* footer 높이 */
    margin-top: auto; /* footer를 컨텐츠 아래에 고정 */
}

.button-box {
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
}