<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script
          src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
    <meta charset="UTF-8">
  <link rel="icon" href="/asset/54810acebbc96214ac3b2fa2f1bb8aba.jpg">
    <title>천호렌터카</title>

</head>
<body>
<ul>
  <li th:if="${session.loginMember != null}"><a href="/common/logout">로그아웃</a></li>
  <li th:if="${session.loginMember == null}"><a href="/common/signIn">로그인</a></li>
  <li th:if="${session.loginMember == null}"><a href="/common/signUp">회원가입</a></li>
  <li><a href="/post/postList">list</a></li>
  <li th:if="${session.loginMember != null}"><a href="/post/postReg">reg</a></li>
</ul>
</body>
</html>