<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script
          src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Hi</title>
    <ul>
      <li><a href="/cmm/login">login</a></li>
      <li><a href="/board/boardList">list</a></li>
      <li><a href="/board/boardReg">reg</a></li>
      <li><a href="/board/boardView">view</a></li>
    </ul>
</head>
<body>

</body>
</html>